# **Title of Project** : Movie Recommendation System

---

# **Objective :** The objective of this project is to build a movie recommendation system using various machine learning techniques which will recommend movies to the users on the basis of their previous viewing behaviour and preferences.

# **Data Source** : The dataset used in this project are obtained from various sources, such as movie databases, user ratings, and demographic information. Some of the common sources include IMDb, MovieLens, or other publicly available movie datasets.

# **Import Library**

# **pandas** : Used this library for data manipulation and analysis.
# **numpy** : Used numpy for numerical operations and computations.
# **scikit-learn** : Used for implementing machine learning algorithms.
# **matplotlib** : Used for data visualization.
# **Import Data** : Used to load the movie dataset containing information such as movie titles, genres, user ratings, and user preferences into the Colab notebook.

# **Describe Data** : Perform exploratory data analysis (EDA) to gain insights into the dataset, understand the distribution of movie ratings, and identify any patterns or trends.

In [1]:
#IMPORT LIBRARY

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [ ]:
#IMPOR DATASET

In [4]:
movie = pd.read_csv("https://github.com/YBI-Foundation/Dataset/raw/main/Movies%20Recommendation.csv")

In [5]:
movie.head()

,Movie_ID,Movie_Title,Movie_Genre,Movie_Language,Movie_Budget,Movie_Popularity,Movie_Release_Date,Movie_Revenue,Movie_Runtime,Movie_Vote,...,Movie_Homepage,Movie_Keywords,Movie_Overview,Movie_Production_House,Movie_Production_Country,Movie_Spoken_Language,Movie_Tagline,Movie_Cast,Movie_Crew,Movie_Director
0,1,Four Rooms,Crime Comedy,en,4000000,22.876230,09-12-1995,4300000,98.0,6.5,...,NaN,hotel new year's eve witch bet hotel room,It's Ted the Bellhop's first night on the job....,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Twelve outrageous guests. Four scandalous requ...,Tim Roth Antonio Banderas Jennifer Beals Madon...,"[{'name': 'Allison Anders', 'gender': 1, 'depa...",Allison Anders
1,2,Star Wars,Adventure Action Science Fiction,en,11000000,126.393695,25-05-1977,775398007,121.0,8.1,...,http://www.starwars.com/films/star-wars-episod...,android galaxy hermit death star lightsaber,Princess Leia is captured and held hostage by ...,"[{""name"": ""Lucasfilm"", ""id"": 1}, {""name"": ""Twe...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","A long time ago in a galaxy far, far away...",Mark Hamill Harrison Ford Carrie Fisher Peter ...,"[{'name': 'George Lucas', 'gender': 2, 'depart...",George Lucas
2,3,Finding Nemo,Animation Family,en,94000000,85.688789,30-05-2003,940335536,100.0,7.6,...,http://movies.disney.com/finding-nemo,father son relationship harbor underwater fish...,"Nemo, an adventurous young clownfish, is unexp...","[{""name"": ""Pixar Animation Studios"", ""id"": 3}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","There are 3.7 trillion fish in the ocean, they...",Albert Brooks Ellen DeGeneres Alexander Gould ...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton
3,4,Forrest Gump,Comedy Drama Romance,en,55000000,138.133331,06-07-1994,677945399,142.0,8.2,...,NaN,vietnam veteran hippie mentally disabled runni...,A man with a low IQ has accomplished great thi...,"[{""name"": ""Paramount Pictures"", ""id"": 4}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","The world will never be the same, once you've ...",Tom Hanks Robin Wright Gary Sinise Mykelti Wil...,"[{'name': 'Alan Silvestri', 'gender': 2, 'depa...",Robert Zemeckis
4,5,American Beauty,Drama,en,15000000,80.878605,15-09-1999,356296601,122.0,7.9,...,http://www.dreamworks.com/ab/,male nudity female nudity adultery midlife cri...,"Lester Burnham, a depressed suburban father in...","[{""name"": ""DreamWorks SKG"", ""id"": 27}, {""name""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Look closer.,Kevin Spacey Annette Bening Thora Birch Wes Be...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes

In [6]:
movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4760 entries, 0 to 4759
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Movie_ID                  4760 non-null   int64
 1   Movie_Title               4760 non-null   object
 2   Movie_Genre               4760 non-null   object
 3   Movie_Language            4760 non-null   object
 4   Movie_Budget              4760 non-null   int64
 5   Movie_Popularity          4760 non-null   float64
 6   Movie_Release_Date        4760 non-null   object
 7   Movie_Revenue             4760 non-null   int64
 8   Movie_Runtime             4758 non-null   float64
 9   Movie_Vote                4760 non-null   float64
 10  Movie_Vote_Count          4760 non-null   int64
 11  Movie_Homepage            1699 non-null   object
 12  Movie_Keywords            4373 non-null   object
 13  Movie_Overview            4757 non-null   object
 14  Movie_Production_House    4760 non-null   object
 15  Movie_Production_Country  4760 non-null   object
 16  Movie_Spoken_Language     4760 non-null   object
 17  Movie_Tagline             3942 non-null   object
 18  Movie_Cast                4733 non-null   object
 19  Movie_Crew                4760 non-null   object
 20  Movie_Director            4738 non-null   object
dtypes: float64(3), int64(4), object(14)
memory usage: 781.1+ KB

In [7]:
movie.describe()

,Movie_ID,Movie_Budget,Movie_Popularity,Movie_Revenue,Movie_Runtime,Movie_Vote,Movie_Vote_Count
count,4760.000000,4.760000e+03,4760.000000,4.760000e+03,4758.000000,4760.000000,4760.000000
mean,2382.566387,2.920129e+07,21.599510,8.263743e+07,107.184111,6.113866,692.508403
std,1377.270159,4.075620e+07,31.887919,1.630554e+08,21.960332,1.141294,1235.007337
min,1.000000,0.000000e+00,0.000372,0.000000e+00,0.000000,0.000000,0.000000
25%,1190.750000,9.257500e+05,4.807074,0.000000e+00,94.000000,5.600000,55.000000
50%,2380.500000,1.500000e+07,13.119058,1.944716e+07,104.000000,6.200000,238.000000
75%,3572.250000,4.000000e+07,28.411929,9.341276e+07,118.000000,6.800000,740.250000
max,4788.000000,3.800000e+08,875.581305,2.787965e+09,338.000000,10.000000,13752.000000

In [10]:
movie.shape

(4760, 21)

In [8]:
movie.columns

Index(['Movie_ID', 'Movie_Title', 'Movie_Genre', 'Movie_Language',
       'Movie_Budget', 'Movie_Popularity', 'Movie_Release_Date',
       'Movie_Revenue', 'Movie_Runtime', 'Movie_Vote', 'Movie_Vote_Count',
       'Movie_Homepage', 'Movie_Keywords', 'Movie_Overview',
       'Movie_Production_House', 'Movie_Production_Country',
       'Movie_Spoken_Language', 'Movie_Tagline', 'Movie_Cast', 'Movie_Crew',
       'Movie_Director'],
      dtype='object')

In [ ]:
#Get feature selection

In [17]:
movie_features = movie[['Movie_Genre', 'Movie_Keywords', 'Movie_Tagline','Movie_Cast', 'Movie_Director']].fillna('')

In [18]:
movie_features.shape

(4760, 5)

In [19]:
movie.features

,Movie_Genre,Movie_Keywords,Movie_Tagline,Movie_Cast,Movie_Director
0,Crime Comedy,hotel new year's eve witch bet hotel room,Twelve outrageous guests. Four scandalous requ...,Tim Roth Antonio Banderas Jennifer Beals Madon...,Allison Anders
1,Adventure Action Science Fiction,android galaxy hermit death star lightsaber,"A long time ago in a galaxy far, far away...",Mark Hamill Harrison Ford Carrie Fisher Peter ...,George Lucas
2,Animation Family,father son relationship harbor underwater fish...,"There are 3.7 trillion fish in the ocean, they...",Albert Brooks Ellen DeGeneres Alexander Gould ...,Andrew Stanton
3,Comedy Drama Romance,vietnam veteran hippie mentally disabled runni...,"The world will never be the same, once you've ...",Tom Hanks Robin Wright Gary Sinise Mykelti Wil...,Robert Zemeckis
4,Drama,male nudity female nudity adultery midlife cri...,Look closer.,Kevin Spacey Annette Bening Thora Birch Wes Be...,Sam Mendes
...,...,...,...,...,...
4755,Horror,,The hot spot where Satan's waitin'.,Lisa Hart Carroll Michael Des Barres Paul Drak...,Pece Dingo
4756,Comedy Family Drama,,Itâ€™s better to stand out than to fit in.,Roni Akurati Brighton Sharbino Jason Lee Anjul...,Frank Lotito
4757,Thriller Drama,christian film sex trafficking,She never knew it could happen to her...,Nicole Smolen Kim Baldwin Ariana Stephens Brys...,Jaco Booyens
4758,Family,,,,
4759,Documentary,music actors legendary perfomer classic hollyw...,,Tony Oppedisano,Simon Napier-Bell

In [22]:
x = movie_features['Movie_Genre'] +' ' + movie_features['Movie_Keywords'] +' ' + movie_features['Movie_Cast'] +' ' + movie_features['Movie_Director']

In [23]:
x

0       Crime Comedy hotel new year's eve witch bet ho...
1       Adventure Action Science Fiction android galax...
2       Animation Family father son relationship harbo...
3       Comedy Drama Romance vietnam veteran hippie me...
4       Drama male nudity female nudity adultery midli...
                              ...
4755    Horror  Lisa Hart Carroll Michael Des Barres P...
4756    Comedy Family Drama  Roni Akurati Brighton Sha...
4757    Thriller Drama christian film sex trafficking ...
4758                                            Family
4759    Documentary music actors legendary perfomer cl...
Length: 4760, dtype: object

In [24]:
x.shape

(4760,)

In [ ]:
#Get Feature Text Conversion to Tokens

In [27]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [28]:
tfidf = TfidfVectorizer()

In [32]:
x = tfidf.fit_transform(x)

In [33]:
x.shape

(4760, 14793)

In [34]:
print(x)

  (0, 451)	0.2529624700412641
  (0, 340)	0.22186595822522218
  (0, 13223)	0.22696638952087883
  (0, 8320)	0.2203194521672099
  (0, 8120)	0.2570602193236106
  (0, 1141)	0.26170586430336973
  (0, 6614)	0.15176615683691097
  (0, 976)	0.2147410259056221
  (0, 551)	0.20775956041922602
  (0, 11289)	0.22348442016772774
  (0, 13173)	0.1625566507971879
  (0, 11251)	0.2351905105945911
  (0, 1314)	0.2529624700412641
  (0, 14440)	0.19775091189557634
  (0, 4290)	0.23083600252509037
  (0, 14601)	0.24929690840058727
  (0, 9425)	0.14722609815291593
  (0, 6090)	0.3909123816244152
  (0, 2769)	0.07013137521238604
  (0, 3039)	0.10114278592423027
  (1, 7975)	0.19940336059236285
  (1, 5067)	0.15892906368147613
  (1, 5448)	0.2602371658111137
  (1, 277)	0.2026820636852067
  (1, 3133)	0.3090633227850981
  :	:
  (4757, 13298)	0.2821845090658871
  (4757, 12534)	0.27717533951060314
  (4757, 948)	0.21587412251266408
  (4757, 11859)	0.17405676459693128
  (4757, 9471)	0.20996098034574007
  (4757, 4580)	0.14530685297245483
  (4757, 2536)	0.18637995346451375
  (4757, 7146)	0.19975991779495703
  (4757, 13132)	0.08750014737505812
  (4757, 3796)	0.06491995824843613
  (4758, 4409)	1.0
  (4759, 9739)	0.32896090472685546
  (4759, 10112)	0.32896090472685546
  (4759, 7620)	0.32896090472685546
  (4759, 90)	0.32896090472685546
  (4759, 12135)	0.31376077159928567
  (4759, 6020)	0.26505306794184125
  (4759, 2614)	0.31376077159928567
  (4759, 9307)	0.3029761055152296
  (4759, 3673)	0.17739442888528711
  (4759, 12125)	0.19514575983587765
  (4759, 4765)	0.19067167176249683
  (4759, 13238)	0.19020597458169872
  (4759, 1219)	0.2054061077092685
  (4759, 9222)	0.15467152443946866

In [ ]:
#Get imilarity Score Using Cosine Similarity

In [35]:
from sklearn.metrics.pairwise import cosine_similarity

In [36]:
Similarity_Score = cosine_similarity(x)

In [37]:
Similarity_Score

array([[1.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 1.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 1.        , ..., 0.        , 0.09657916,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.09657916, ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [38]:
Similarity_Score.shape

(4760, 4760)

In [ ]:
#Get movie name as input from user and validate for closest spelling

In [ ]:
Favourite_Movie_Name = input("Enter your favourite movie name : ")

In [41]:
All_Movies_Title_List = movie["Movie_Title"].tolist()

In [ ]:
import difflib

In [46]:
Movie_Recommendation = difflib.get_close_matches(Favourite_Movie_Name, All_Movies_Title_List)

In [45]:
Close_Match = Movie_Recommendation[0]

In [47]:
Index_of_Close_Match_Movie = movie[movie.Movie_Title == Close_Match]['Movie_ID'].values[0]

In [ ]:
#GETTING A LIST OF SIMILAR MOVIES

In [48]:
Recommendation_Score = list(enumerate(Similarity_Score[Index_of_Close_Match_Movie]))

In [49]:
len(Recommendation_Score)

4760

In [ ]:
#Get all movies sort based on recommendation score with respect to favourite movie

In [50]:
#sorting the movies based on their similariyt score
Sorted_Similar_Movies = sorted(Recommendation_Score, key = lambda x:x[1], reverse = True)

In [60]:
#print the name of similar movies based on the index
print('Top 30 Movies Suggested for You : \n')
i = 1
for movie in Sorted_Similar_Movies:
  index = movie[0]
  title_from_index = movie[movie.index == index]['Movie_Title'].values[0]
  if (i<31):
    print(i, '.', title_from_index)
    i += 1

Top 30 Movies Suggested for You :

TypeError: 'int' object is not subscriptable